.shadowBox {
  position: relative;
  width: 600px;
  height: 100px;
  background: var(--theme1-2);
  border-radius: 20px;
}

.shadowBox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  bottom: 0;
  border-radius: 10px;
  background: var(--theme1-3);
  transform: translate(0, -25%) rotate(-3deg);
  transform-origin: center center;
  box-shadow: 0 0 20px 15px var(--theme1-3);
  z-index: -1;
}
.shadowText {
  font-size: 60px;
  background: #999;
  p {
    color: #999;
    // text-shadow: 1px 1px 1px #000; // 添加阴影
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #000;
  }
}
.shadowBtn {
  background-color: #fff;
  display: flex;
  text-align: center;
  div {
    cursor: pointer;
    user-select: none;
    margin: 20px;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    background: #e9ecef;
    color: #333;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4),
      -7px -7px 12px rgba(255, 255, 255, 0.9);
    transition: 0.2s all;
    &:active {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 0 rgba(255, 255, 255, 0.9),
        inset -7px -7px 12px rgba(255, 255, 255, 0.9),
        inset 7px 7px 12px rgba(0, 0, 0, 0.4);
    }
  }

  div:nth-child(2) {
    transition: 0.2s all;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 0 rgba(255, 255, 255, 0.9),
      inset -7px -7px 12px rgba(255, 255, 255, 0.9),
      inset 7px 7px 12px rgba(0, 0, 0, 0.4);
    &:active {
      box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4),
        -7px -7px 12px rgba(255, 255, 255, 0.9);
    }
  }
}

$img: '/avatar-color.jpeg';
.colorShadow {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.avator {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url($img) no-repeat center center;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: inherit;
    background-size: 100% 100%;
    filter: blur(10px) brightness(80%) opacity(0.8);
    z-index: -1;
  }
}
.circleShadow {
  background-color: #000;
  // width: 120px;
  // height: 120px;
  position: relative;
  .cicleColor {
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: conic-gradient(
      #ff4d00,
      #ffe600,
      #80ff00,
      #00ff1a,
      #00ffb3,
      #00b3ff,
      #001aff,
      #8000ff,
      #ff00e6,
      #ff004d 20%,
      transparent 20.5%,
      transparent
      );
      // #3d3d3d
    // filter: blur(2px);
    animation: rotateColor 2s linear infinite;
    // animation: crack2 1.5s linear forwards;
  }
}
@keyframes rotateColor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circleBlack {
  border-radius: 50%;
  display: block;
  width: 96px;
  height: 96px;
  left: 2px;
  top: 2px;
  position: absolute;
  background-color: #000;
  z-index: 10;
}

