.base {
  display: flex;
  justify-content: space-around;
}
.base li {
  width: 120px;
  height: 120px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: var(--theme1-2);
  clip-path: circle(50px at 50px 50px);
}
/* 十边形 */
.polygon {
  width: 100px;
  height: 100px;
  background-color: var(--theme1-2);
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
.clipNotching {
  background: linear-gradient(45deg, var(--theme1), var(--theme1-2));
  clip-path: polygon(
    15px 0,
    calc(100% - 15px) 0,
    100% 15px,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 calc(100% - 15px),
    0 15px
  );
}

.arrow {
  background: linear-gradient(45deg, var(--theme1), var(--theme1-2));
  clip-path: polygon(
    0 0,
    30px 50%,
    0 100%,
    calc(100% - 30px) 100%,
    100% 50%,
    calc(100% - 30px) 0
  );
}
.arrowLeft {
  div {
    width: 200px;
    height: 100px;
    clip-path: polygon(
      40% 0%,
      40% 20%,
      100% 20%,
      100% 80%,
      40% 80%,
      40% 100%,
      0% 50%
    );
    background: var(--theme1-2);
  }
}

.aniBorder {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--theme1-3);
    animation: clippath 3s infinite linear;
  }
  @keyframes clippath {
    0%,
    100% {
      clip-path: inset(0 0 95% 0);
    }
    25% {
      clip-path: inset(0 95% 0 0);
    }
    50% {
      clip-path: inset(95% 0 0 0);
    }
    75% {
      clip-path: inset(0 0 0 95%);
    }
  }
}

.btnAniClip {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  background: var(--theme1-2);
  height: 80px !important;
  border-radius: 10px;
  &:hover {
    background: var(--theme1-3);
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 10px;
    border: 2px solid var(--theme1-3);
    animation: clippath2 3s infinite linear;
  }
  &::after {
    animation: clippath2 3s infinite -1.5s linear; // 延迟一半时间，实现两个动画错开
  }
  @keyframes clippath2 {
    0%,
    100% {
      // 控制内部裁剪区域，
      clip-path: inset(0 0 95% 0);
    }
    25% {
      clip-path: inset(0 95% 0 0);
    }
    50% {
      clip-path: inset(95% 0 0 0);
    }
    75% {
      clip-path: inset(0 0 0 95%);
    }
  }
}

.clipText {
  // margin: auto;
  // padding: 10px;
  // line-height: 1.2;
  background: #490c0c;
  position: relative;
  color: #fff;
  font-weight: bold;
  text-align: left;
  // animation: shake 2.5s linear forwards;
  span {
    position: relative;
    clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  }

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    animation: crack1 1.5s linear forwards;
    // clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  }

  &::after {
    animation: crack2 1.5s linear forwards;
    // clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    
  }
  // &:hover::before {
  //   animation: crack1 2.5s linear forwards;
  // }
    
  // &:hover::after {
  //   animation: crack2 2.5s linear forwards;
  // }

  @keyframes crack1 {
    0%,
    95% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-10px);
    }
  }

  @keyframes crack2 {
    0%,
    95% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(10px);
    }
  }
}
