.base {
  display: flex;
  justify-content: space-around;
}
.base li {
  width: 120px;
  height: 120px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: var(--theme1-2);
  clip-path: circle(50px at 50px 50px);
}
/* 十边形 */
.polygon {
  width: 100px;
  height: 100px;
  background-color: var(--theme1-2);
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
.clipNotching {
  background: linear-gradient(
    45deg,var(--theme1),var(--theme1-2)
  );
  clip-path: polygon(
    15px 0,
    calc(100% - 15px) 0,
    100% 15px,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 calc(100% - 15px),
    0 15px
  );
}
