.rect {
  width: 250px;
  height: 50px;
  stroke: #673ab7;
  stroke-width: 2;
  fill: transparent;
  transition: all 1s;
}
.rect:hover {
  stroke-width: 1;
  fill: deeppink;
  stroke: transparent;
}
.svgs svg{
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
  rect {
    width: 100%;
    height: 100%;
    stroke: #673ab7;
    stroke-width: 2;
    fill: transparent;
  }
}
.rectSp1 {
  stroke-dasharray: 10 10;// 虚线长度 虚线间宽度
}
.rectSp2 {
  stroke-dasharray: 30 30;
}
.rectSp3 {
  stroke-dasharray: 50 20;
}
.rectSp4 {
  width: 250px;
  height: 50px;
  stroke: #673ab7;
  stroke-width: 1px;
  fill: transparent;
  stroke-dasharray: 100 500;
  stroke-dashoffset: 225; 
}
.aniRect {
  width: 250px;
  height: 50px;
  stroke: #673ab7;
  stroke-width: 1px;
  fill: transparent;
  stroke-dasharray: 100 500;
  stroke-dashoffset: 225;
  transition: all 1s;
}
.container{
  &:hover .aniRect {
    stroke: deeppink;
    stroke-dasharray: 600 0;
    stroke-dashoffset: 475;
    stroke-width: 3px;
  }
}